// Alt der gælder for mobil og højere

* { // Gælder alt på hele siden
  -webkit-box-sizing: border-box; // -webkit- browserunderstøttelse
  box-sizing: border-box; // Bokse har altid den størrelse man giver uanset om der tilføjes margen mv.
}

$font-stack: Proxima nova, sans-serif;
$primary-color: #000;


body {
  margin: 0; // Ingen kanter i siden af browser
  font: 100% $font-stack;
  color: $primary-color;
}



h1, h2, h3, h4, h5, h6 {
  margin: 0; // Ingen ydre margen fra overskrifter
  padding: 0; // Ingen indre margen fra overskrifter
}

ul, ol {
  margin: 0; // Ingen ydre margen fra lister
  padding: 0; // Ingen indre margen fra lister
  list-style-position: inside; // List punkter står på linje
}

li {
  margin: 0; // Ingen ydre margen fra listpunkter
}

p {
  margin: 0; // Ingen ydre margen fra paragraffer
  padding: 0; // Ingen indre margen fra paragraffer
}

// Sikrer billeder er responsive
img {
  display: block; // Billeder er et element (laver linjeskift)
  max-width: 100%; // Bredde må maks fylde 100%
  height: auto; // Højden skal tilpasse sig
}

.header{
  width: 100%;
  height: 650px;
  background-color: #63c2e7;
  padding-left: 150px;
  padding-right: 150px;
}

.underheader{
  background-color: #f4f4f4;
  width: 100%;
  height: 650px;
  padding-left: 150px;
}

.content{
  background-color: #ffffff;
  width: 100%;
  height: 650px;
  padding-right: 150px;
}
.semere{
  background-color: #13c3ae;
  height: 325px;
  width: 100%;
  padding-left: 150px;
  padding-right: 150px;
}

.subscription{
  background-color: #f4f4f4;
  height: 650px;
  width: 100%;
  padding-left: 150px;
  padding-right: 150px;
  padding-top: 250px;
  text-align: center;
}

.subIcons{
  width: 330px;
  height: 55px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.faI{
  height: 55px;
  width: 55px;
  border: 5px solid #545454;
  border-radius: 50%;
  color: #545454;
  font-size: 20px;
  text-align: center;
  padding: 15px;

}

.subscrip{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
}

.subText{
  width: 225px;
  height: 45px;
  padding: 15px;
  font-size: 16px;
  font-style: italic;
  color: #545454;
}

.flex{
  width: 220px;
  height: 45px;
  padding: 10px;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  background-color: #ffffff;
}


.textInput{
  width: 150px;
  height: 25px;
  background-color: #ffffff;
  border: none;
  display: inline;
  font-size: 16px;
}

.mailIcon{
  width: 30px;
  height: 25px;
  margin-left: 20px;
  margin-top: 4.5px;
  color: #6ec5ea;
  font-size: 16px;
}

.footer{
  background-color: #ffffff;
  height: 100px;
  width: 10%;
  padding-left: 150px;
}
@media screen and (min-width: 768px) {
  // Alt der ændres i tablet stående fra mobil
}

@media screen and (min-width: 992px) {
  // Alt der ændres i tablet liggende fra mobil og tablet stående
}

@media screen and (min-width: 1200px) {
  // Alt der ændres i computer fra mobil, tablet stående og tablet liggende
}

@media print {
  // Alt der gælder for print specifikt
}