// Alt der gælder for mobil og højere

* { // Gælder alt på hele siden
  -webkit-box-sizing: border-box; // -webkit- browserunderstøttelse
  box-sizing: border-box; // Bokse har altid den størrelse man giver uanset om der tilføjes margen mv.
}

$font-stack: Proxima nova, sans-serif;
$primary-color: #000;


body {
  margin: 0; // Ingen kanter i siden af browser
  font: 100% $font-stack;
  color: $primary-color;
}

.pbillede {
 margin-top: -70px;
  margin-left: -30px;
}

.mobil {
  margin-top: -42px;
  margin-left: 2px;
  width: 25%;
  height: 15%;
}

.header{
  width: 100%;
  height: 650px;
  background-color: #38bce7;
  padding-left: 150px;
  padding-right: 150px;
  overflow: hidden;
}


.menubar {
  color: white;
  font-size: xx-large;
  padding-left: 1020px;
  padding-top: 38px;
}

.overskrift {
  color: white;
  font-weight: bolder;
  font-size: 70px;
  padding-left: 690px;
  padding-top: 80px;
}

.tekst1 {
  color: white;
  font-weight: lighter;
  font-size:35px;
  padding-left: 320px;
  padding-top: 50px;
}

.boks {
  color: white;
  font-size: 15px;
  height: 54px;
  width: 172px;
  border: solid thin white;
  padding: 20px;
  margin-top: -20px;
  margin-left: 880px;
}

.tekstgrøn {
  color: white;
  font-size: 40px;
  font-weight: lighter;
  padding-left: 400px;
  padding-top: -20px;
}

.boks2 {
  color: white;
  font-size: 15px;
  height: 55px;
  width: 224px;
  border: thin solid white;
  margin-top: 30px;
  margin-left: 35%;
  text-align: center;
  padding-top: 22px;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0; // Ingen ydre margen fra overskrifter
  padding: 0; // Ingen indre margen fra overskrifter
}

ul, ol {
  margin: 0; // Ingen ydre margen fra lister
  padding: 0; // Ingen indre margen fra lister
  list-style-position: inside; // List punkter står på linje
}

li {
  margin: 0; // Ingen ydre margen fra listpunkter
}

p {
  margin: 0; // Ingen ydre margen fra paragraffer
  padding: 0; // Ingen indre margen fra paragraffer
}

// Sikrer billeder er responsive
img {
  display: block; // Billeder er et element (laver linjeskift)
  max-width: 100%; // Bredde må maks fylde 100%
  height: auto; // Højden skal tilpasse sig
}

.underheader{
  background-color: #f4f4f4;
  width: 100%;
  height: 650px;
  padding-left: 150px;
  background-image: url("../images/bg_underheader.png");
  background-position: right;
  background-repeat: no-repeat;
}
.tekstheader{
  font-family: "Proxima Nova";
  font-weight: lighter;
  font-size: 40px;
  color: #a5a4a4;
  margin-left: 150px;
  padding-top: 25px;
}

.uheadtekst{
  font-family: 'Proxima Nova', Georgia, sans-serif;
  font-weight: bold;
  font-style: normal;
  font-size: 16px;
  color: #a5a4a4;
  margin-left: 150px;
}

.quotebox{
  display: flex;
  flex-direction: column;
}

.quoteblock{
  margin-left: 160px;
  float: left;
}

.quote{
  font-family: 'Proxima Nova', Georgia, sans-serif;
  font-weight: bold;
  font-style: italic;
  font-size: 16px;
  color: #a5a4a4;
  margin-left: 20px;
}


.content{
  width: 100%;
  height: 650px;
  padding-top: 60px;
  background: #ffffff url("../images/27330451_10155325315895677_2063774449_o.png") no-repeat;
  background-attachment: inherit;

}
.tekstoverskrift{
  font-family: 'Proxima Nova', Georgia, sans-serif;
  font-weight: lighter;
  font-size: 40px;
  color: #a5a4a4;
  padding-left: 850px;
}

.tekst2{
  font-family: 'Proxima Nova', Georgia, sans-serif;
  font-weight: bold;
  font-style: italic;
  font-size: 16px;
  color: #a5a4a4;
  padding-left: 850px;
}

.tekst3{
  font-family: 'Proxima Nova', Georgia, sans-serif;
  font-weight: lighter;
  font-size: 16px;
  color: #a3a3a3;
  padding-left: 850px;
}

.boks3{
  color: #ea4c89;
  border: thin solid #ea4c89;
  height: 50px;
  width: 200px;
  font-size: 15px;
  padding-top: 15px;
  padding-left: 25px;
  margin-left: 850px;
}

.semere{
  background-color: #13c3ae;
  height: 325px;
  width: 100%;
  padding-left: 150px;
  padding-top: 150px;
}

.subscription{
  background-color: #f4f4f4;
  height: 650px;
  width: 100%;
  padding-left: 150px;
  padding-right: 150px;
  padding-top: 250px;
  text-align: center;
}

.subIcons{
  width: 330px;
  height: 55px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.faI{
  height: 55px;
  width: 55px;
  border: 5px solid #545454;
  border-radius: 50%;
  color: #545454;
  font-size: 20px;
  text-align: center;
  padding: 15px;

}

.subscrip{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
}

.subText{
  width: 225px;
  height: 45px;
  padding: 15px;
  font-size: 16px;
  font-style: italic;
  color: #545454;
}

.flex{
  width: 220px;
  height: 45px;
  padding: 10px;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  background-color: #ffffff;
}


.textInput{
  width: 150px;
  height: 25px;
  background-color: #ffffff;
  border: none;
  display: inline;
  font-size: 16px;
}

.mailIcon{
  width: 30px;
  height: 25px;
  margin-left: 20px;
  margin-top: 4.5px;
  color: #63c2e7;
  font-size: 16px;
}

.footer{
  background-color: #ffffff;
  height: 100px;
  width: 100%;
  padding-left: 150px;
  padding-right: 150px;
  padding-top: 45px;
}

.infoFooter{
  width: 350px;
  font-size: 16px;
  display: flex;
  margin-right: auto;
  margin-left: auto;
  flex-direction: row;
  justify-content: space-around;
}

.copyrightFa{
  color: #747474;
}

.est{
  color: #545454;
}

.perth{
  color: #63c2e7;
}

.qouteF{
  color: #545454;
  font-style: italic;
}

.scrollUp{
  position: fixed;
  bottom: 30px;
  right: 60px;
  width: 40px;
  height: 40px;
  border-radius: 5px;
  background-color: #f4f4f4;
  color: #545454;
  text-align: center;
  padding-top: 10px;
  font-size: 15px;
}

@media screen and (min-width: 768px) {
  // Alt der ændres i tablet stående fra mobil
}

@media screen and (min-width: 992px) {
  // Alt der ændres i tablet liggende fra mobil og tablet stående
}

@media screen and (min-width: 1200px) {
  // Alt der ændres i computer fra mobil, tablet stående og tablet liggende
}

@media print {
  // Alt der gælder for print specifikt
}